In [20]:
import pandas as pd

daily_df = pd.read_csv("data/daily_reports.csv")

countries_df = daily_df[["Country_Region","Confirmed","Deaths","Recovered"]]
countries_df = countries_df.groupby("Country_Region").sum().reset_index()
countries_df

         Country_Region  Confirmed  Deaths  Recovered
0           Afghanistan      39928    1480      33308
1               Albania      15752     429       9675
2               Algeria      53399    1818      37492
3               Andorra       2995      57       1928
4                Angola       6680     222       2761
..                  ...        ...     ...        ...
184  West Bank and Gaza      45200     391      38841
185      Western Sahara         10       1          8
186               Yemen       2053     596       1329
187              Zambia      15587     345      14783
188            Zimbabwe       8036     230       7632

[189 rows x 4 columns]