In [2]:
import pandas as pd

daily_df = pd.read_csv("data/time_confirmed.csv")
daily_df

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,10/2/20,10/3/20,10/4/20,10/5/20,10/6/20,10/7/20,10/8/20,10/9/20,10/10/20,10/11/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1805,1818,1828,1831,1839,1852,1863,1882,1898,1905
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,6024,6048,6073,6085,6116,6134,6141,6172,6190,6203
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,902,921,921,921,923,927,927,939,942,942
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,675,678,686,687,691,703,708,719,726,736
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,1642,1655,1656,1662,1665,1673,1681,1689,1704,1713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,84056039,US,USA,840,56039.0,Teton,Wyoming,US,43.935225,-110.589080,...,597,602,616,625,629,633,645,656,658,662
3336,84056041,US,USA,840,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,...,358,359,360,365,368,368,373,378,379,380
3337,84090056,US,USA,840,90056.0,Unassigned,Wyoming,US,0.000000,0.000000,...,0,0,0,0,0,0,0,10,0,0
3338,84056043,US,USA,840,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,...,117,118,119,121,120,119,123,123,124,125
3339,84056045,US,USA,840,56045.0,Weston,Wyoming,US,43.839612,-104.567488,...,39,41,42,44,46,50,51,54,58,58